<template>
    <v-container>
        <template v-if="sensors">
            <v-data-table
                :headers="headers"
                :items="getLastOne"
                item-key="id"
                loading-text="Loading... Please wait"
                hide-default-footer
                class="elevation-1"
            >
            <!-- <template v-slot:item.temperature="{ item }">
                <v-chip :color="getColor(item.temperature)" dark>{{ item.temperature }}</v-chip>
            </template> -->
            <!-- <template v-slot:expanded-item="{ headers }">
                <td :colspan="headers.length">{{ item.temperature }}</td>
            </template> -->
            </v-data-table>
        </template>
    </v-container>
</template>

<script>
import db from '@/firebase/init'
import moment from 'moment'

export default {
    data: () => {
        return {
            headers : [
                {text: 'Sensor', value: 'title'},
                {text: 'Temperature', value: 'temperature', sortable: false},
                {text: 'Time', value: 'timestamp', sortable: false}
            ],
            expanded: [],
            sensors: [],
            sensorOne: [],
            sensorTwo: [],
            sensorThree: [],
            sensorFour: [],
            sensorFive: [],
            sensorSix: []
        }
    },
    computed: {
        getLastOne: function () {
            let sensorData = []
            sensorData[0] = this.sensorOne[this.sensorOne.length-1]
            sensorData[1] = this.sensorTwo[this.sensorTwo.length-1]
            sensorData[2] = this.sensorThree[this.sensorThree.length-1]
            sensorData[3] = this.sensorFour[this.sensorFour.length-1]
            sensorData[4] = this.sensorFive[this.sensorFive.length-1]
            sensorData[5] = this.sensorSix[this.sensorSix.length-1]
            console.log(sensorData)
            return sensorData
        }
    },
    methods: {
        getColor (temperature) {
            if (temperature > 30) return 'red'
            else if (temperature < 6) return 'blue'
            else return 'green'
        }
    },
    created() {
        db.collection("Greenhouse551")
        .orderBy('timestamp', 'desc')
        .limit(1)
        .onSnapshot(snapshot => {
            snapshot.docChanges().forEach(change => {
                if(change.type == 'added') {
                    let doc = change.doc
                    this.sensorOne.push ({
                    id: doc.id,
                    temperature: doc.data().temperature,
                    title: doc.data().title,
                    timestamp: moment(doc.data().timestamp).format('DD-MM-YYYY HH:mm:ss')
                })
                }
            });
        }),
        db.collection("Greenhouse552")
        .orderBy('timestamp', 'desc')
        .limit(1)
        .onSnapshot(snapshot => {
            snapshot.docChanges().forEach(change => {
                if(change.type == 'added') {
                    let doc = change.doc
                    this.sensorTwo.push ({
                    id: doc.id,
                    temperature: doc.data().temperature,
                    title: doc.data().title,
                    timestamp: moment(doc.data().timestamp).format('DD-MM-YYYY HH:mm:ss')
                    })
                }
            })
        }),
        db.collection("Greenhouse553")
        .orderBy('timestamp', 'desc')
        .limit(1)
        .onSnapshot(snapshot => {
            snapshot.docChanges().forEach(change => {
                if(change.type == 'added') {
                    let doc = change.doc
                    this.sensorThree.push({
                    id: doc.id,
                    temperature: doc.data().temperature,
                    title: doc.data().title,
                    timestamp: moment(doc.data().timestamp).format('DD-MM-YYYY HH:mm:ss')
                    })
                }
            });
        }),
        db.collection("Greenhouse554")
        .orderBy('timestamp', 'desc')
        .limit(1)
        .onSnapshot(snapshot => {
            snapshot.docChanges().forEach(change => {
                if(change.type == 'added') {
                    let doc = change.doc
                    this.sensorFour.push({
                    id: doc.id,
                    temperature: doc.data().temperature,
                    title: doc.data().title,
                    timestamp: moment(doc.data().timestamp).format('DD-MM-YYYY HH:mm:ss')
                    })
                }
            });
        }),
        db.collection("Greenhouse555")
        .orderBy('timestamp', 'desc')
        .limit(1)
        .onSnapshot(snapshot => {
            snapshot.docChanges().forEach(change => {
                if(change.type == 'added') {
                    let doc = change.doc
                    this.sensorFive.push({
                    id: doc.id,
                    temperature: doc.data().temperature,
                    title: doc.data().title,
                    timestamp: moment(doc.data().timestamp).format('DD-MM-YYYY HH:mm:ss')
                    })
                }
            });
        }),
        db.collection("Greenhouse556")
        .orderBy('timestamp', 'desc')
        .limit(1)
        .onSnapshot(snapshot => {
            snapshot.docChanges().forEach(change => {
                if(change.type == 'added') {
                    let doc = change.doc
                    this.sensorSix.push({
                    id: doc.id,
                    temperature: doc.data().temperature,
                    title: doc.data().title,
                    timestamp: moment(doc.data().timestamp).format('DD-MM-YYYY HH:mm:ss')
                    })
                }
            });
        })
    }
}
</script>